@model erplite.Models.NewContractorClass

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New contractor</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="street" class="control-label"></label>
                    <input asp-for="street" class="form-control" />
                    <span asp-validation-for="street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="house_number" class="control-label"></label>
                    <input asp-for="house_number" class="form-control" />
                    <span asp-validation-for="house_number" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="zip_code" class="control-label"></label>
                    <input asp-for="zip_code" class="form-control" />
                    <span asp-validation-for="zip_code" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="resort" class="control-label"></label>
                    <input asp-for="resort" class="form-control" />
                    <span asp-validation-for="resort" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="nip" class="control-label"></label>
                    <input asp-for="nip" class="form-control" />
                    <span asp-validation-for="nip" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="pesel" class="control-label"></label>
                    <input asp-for="pesel" class="form-control" />
                    <span asp-validation-for="pesel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="addition" class="control-label"></label>
                <input asp-for="addition" class="form-control" />
                <span asp-validation-for="addition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-info">Back</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
